<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- popper js  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script>

    <!-- jQuery library -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <!-- Latest compiled JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/png" />
  </head>
  <body>
    <!-- <h1>welcome to the static web</h1>
    <button class="btn btn-danger">hello</button> -->
      {{>navbar}}
    <!-- main header  -->
    <div class="containter-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
         <div class="main_content">
             <form class="temp_form">
                 <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                 <input type="submit" value="search" id="submitBtn">
             </form>
         </div>
         <div class="tempInformation">
             <div class="top_layer">
                 <p id="day">Tuesday</p>
                 <p id="today_data">19 APR</p>
             </div>
             <div class="main_layer ">
                 <p id="city_name">Get Output Here</p>
                 <div class="middle_layer data_hide">
                     <p id="temp"><span id="temp_real_val">0</span> <sup>O</sup>C</p>
                     <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                 </div>
             </div>
         </div>
        </div>
      </div>
    </div>

    <!-- footer code  -->
    <footer>
      <p>created with ❤ by sapna saini</p>
    </footer>
    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = 'Sun';
            weekday[1] = 'Mon';
            weekday[2] = 'Tue';
            weekday[3] = 'Wed';
            weekday[4] = 'Thr';
            weekday[5] = 'Fri';
            weekday[6] = 'Sat';

            let currentTime = new Data();
            days = weekday[currentTime.getDay()];
           let day = document.getElementById('day');

            day.innerText = days;
        };

        getCurrentDay()
    </script>
  </body>
</html>